body {
  background-color: blueviolet;
  width: fit-content;
  height: fit-content;
}

.h {
  text-align: center;
  color: white;
}

.contitle {
  text-align: center;
  color: white;

}

.geronimofullcon {
  border: 5px solid black;
}

.geronimocon {
  border: 5px solid black;
}

.geronimobook1 h3 {
  color: white;
}

.geronimobook1 {
  border: 4px black solid;
}


.geronimobook2 {
  border: 4px black solid;
}

.geronimobook2 h3 {
  color: white;
}

.geronimobook3 h3 {
  color: white;
}

.geronimobook3 {
  border: 4px black solid;
}


.geronimobook4 {
  border: 4px black solid;
}

.geronimobook4 h3 {
  color: white;
}

.geronimobook5 h3 {
  color: white;
}

.geronimobook5 {
  border: 4px black solid;
}


.geronimobook6 {
  border: 4px black solid;
}

.geronimobook6 h3 {
  color: white;
}

.geronimobook7 h3 {
  color: white;
}

.geronimobook7 {
  border: 4px black solid;
}


.geronimobook8 {
  border: 4px black solid;
}

.geronimobook8 h3 {
  color: white;
}

.geronimobook9 h3 {
  color: white;
}

.geronimobook9 {
  border: 4px black solid;
}


.geronimobook10 {
  border: 4px black solid;
}

.geronimobook10 h3 {
  color: white;
}

.geronimobook11 h3 {
  color: white;
}

.geronimobook11 {
  border: 4px black solid;
}


.geronimobook12 {
  border: 4px black solid;
}

.geronimobook12 h3 {
  color: white;
}

.geronimobook13 h3 {
  color: white;
}

.geronimobook13 {
  border: 4px black solid;
}


.geronimobook14 {
  border: 4px black solid;
}

.geronimobook14 h3 {
  color: white;
}

.geronimobook15 h3 {
  color: white;
}

.geronimobook15 {
  border: 4px black solid;
}


.geronimobook16 {
  border: 4px black solid;
}

.geronimobook16 h3 {
  color: white;
}

.geronimobook17 h3 {
  color: white;
}

.geronimobook17 {
  border: 4px black solid;
}


.geronimobook18 {
  border: 4px black solid;
}

.geronimobook18 h3 {
  color: white;
}

.geronimobook19 h3 {
  color: white;
}

.geronimobook19 {
  border: 4px black solid;
}


.geronimobook20 {
  border: 4px black solid;
}

.geronimobook20 h3 {
  color: white;
}

.geronimobook21 h3 {
  color: white;
}

.geronimobook21 {
  border: 4px black solid;
}


.geronimobook22 {
  border: 4px black solid;
}

.geronimobook22 h3 {
  color: white;
}

.geronimobook23 h3 {
  color: white;
}

.geronimobook23 {
  border: 4px black solid;
}


.geronimobook24 {
  border: 4px black solid;
}

.geronimobook24 h3 {
  color: white;
}

.geronimobook25 h3 {
  color: white;
}

.geronimobook25 {
  border: 4px black solid;
}


.geronimobook26 {
  border: 4px black solid;
}

.geronimobook26 h3 {
  color: white;
}

.geronimobook27 h3 {
  color: white;
}

.geronimobook27 {
  border: 4px black solid;
}


.geronimobook28 {
  border: 4px black solid;
}

.geronimobook28 h3 {
  color: white;
}

.geronimobook29 h3 {
  color: white;
}

.geronimobook29 {
  border: 4px black solid;
}


.geronimobook30 {
  border: 4px black solid;
}

.geronimobook30 h3 {
  color: white;
}

.geronimobook31 h3 {
  color: white;
}

.geronimobook31 {
  border: 4px black solid;
}


.geronimobook32 {
  border: 4px black solid;
}

.geronimobook32 h3 {
  color: white;
}

.geronimobook33 h3 {
  color: white;
}

.geronimobook33 {
  border: 4px black solid;
}


.geronimobook34 {
  border: 4px black solid;
}

.geronimobook34 h3 {
  color: white;
}

.geronimobook35 h3 {
  color: white;
}

.geronimobook35 {
  border: 4px black solid;
}


.geronimobook36 {
  border: 4px black solid;
}

.geronimobook36 h3 {
  color: white;
}

.geronimobook37 h3 {
  color: white;
}

.geronimobook37 {
  border: 4px black solid;
}


.geronimobook38 {
  border: 4px black solid;
}

.geronimobook38 h3 {
  color: white;
}

.geronimobook39 h3 {
  color: white;
}

.geronimobook39 {
  border: 4px black solid;
}


.geronimobook40 {
  border: 4px black solid;
}

.geronimobook40 h3 {
  color: white;
}

.geronimobook41 h3 {
  color: white;
}

.geronimobook41 {
  border: 4px black solid;
}


.geronimobook42 {
  border: 4px black solid;
}

.geronimobook42 h3 {
  color: white;
}

.geronimobook43 h3 {
  color: white;
}

.geronimobook43 {
  border: 4px black solid;
}


.geronimobook44 {
  border: 4px black solid;
}

.geronimobook44 h3 {
  color: white;
}

.geronimobook45 h3 {
  color: white;
}

.geronimobook45 {
  border: 4px black solid;
}


.geronimobook46 {
  border: 4px black solid;
}

.geronimobook46 h3 {
  color: white;
}

.geronimobook47 h3 {
  color: white
}

.geronimobook47 {
  border: 4px black solid;
}


.geronimobook48 {
  border: 4px black solid;
}

.geronimobook48 h3 {
  color: white;
}

.geronimobook49 h3 {
  color: white;
}

.geronimobook49 {
  border: 4px black solid;
}


.geronimobook50 {
  border: 4px black solid;
}

.geronimobook50 h3 {
  color: white;
}

.geronimobook51 h3 {
  color: white;
}

.geronimobook51 {
  border: 4px black solid;
}


.geronimobook52 {
  border: 4px black solid;
}

.geronimobook52 h3 {
  color: white;
}

.geronimobook53 h3 {
  color: white;
}

.geronimobook53 {
  border: 4px black solid;
}


.geronimobook54 {
  border: 4px black solid;
}

.geronimobook54 h3 {
  color: white;
}

.geronimobook55 h3 {
  color: white;
}

.geronimobook55 {
  border: 4px black solid;
}


.geronimobook56 {
  border: 4px black solid;
}

.geronimobook56 h3 {
  color: white;
}

.geronimobook57 h3 {
  color: white;
}

.geronimobook57 {
  border: 4px black solid;
}


.geronimobook58 {
  border: 4px black solid;
}

.geronimobook58 h3 {
  color: white;
}

.geronimobook59 h3 {
  color: white;
}

.geronimobook59 {
  border: 4px black solid;
}


.geronimobook60 {
  border: 4px black solid;
}

.geronimobook60 h3 {
  color: white;
}

.geronimobook61 h3 {
  color: white;
}

.geronimobook61 {
  border: 4px black solid;
}


.geronimobook62 {
  border: 4px black solid;
}

.geronimobook62 h3 {
  color: white;
}

.geronimobook63 h3 {
  color: white;
}

.geronimobook63 {
  border: 4px black solid;
}


.geronimobook64 {
  border: 4px black solid;
}

.geronimobook64 h3 {
  color: white;
}

.geronimobook65 {
  border: 4px black solid;
}

.geronimobook65 h3 {
  color: white;
}

.geronimobook66 h3 {
  color: white;
}

.geronimobook66 {
  border: 4px black solid;
}


.geronimobook67 {
  border: 4px black solid;
}
.geronimobook67 h3 {
  color: white;
}

.geronimobook68 h3 {
  color: white
}
.geronimobook68 {
  border: 4px black solid;
}


.geronimobook69 {
  border: 4px black solid;
}
.geronimobook69 h3 {
  color: white;
}

.geronimobook70 h3 {
  color: white;
}
.geronimobook70 {
  border: 4px black solid;
}


.geronimobook71 {
  border: 4px black solid;
}
.geronimobook71 h3 {
  color: white;
}

.geronimobook72 h3 {
  color: white;
}
.geronimobook72 {
  border: 4px black solid;
}


.geronimobook73 {
  border: 4px black solid;
}
.geronimobook73 h3 {
  color: white;
}

.geronimobook74 h3 {
  color: white;
}
.geronimobook74 {
  border: 4px black solid;
}


.geronimobook75 {
  border: 4px black solid;
}
.geronimobook75 h3 {
  color: white;
}

.geronimobook76 h3 {
  color: white;
}
.geronimobook76 {
  border: 4px black solid;
}


.geronimobook77 {
  border: 4px black solid;
}
.geronimobook77 h3 {
  color: white;
}

.geronimobook78 h3 {
  color: white;
}
.geronimobook78 {
  border: 4px black solid;
}
.geronimobook79 {
  border: 4px black solid;
}
.geronimobook79 h3 {
  color: white;
}

.geronimobook80 h3 {
  color: white;
}
.geronimobook80 {
  border: 4px black solid;
}

.theacon {
  border: 5px solid black;
}

.theabook1 h3 {
  color: white;
}

.theabook1 {
  border: 4px black solid;
}


.theabook2 {
  border: 4px black solid;
}

.theabook2 h3 {
  color: white;
}

.theabook3 h3 {
  color: white;
}

.theabook3 {
  border: 4px black solid;
}


.theabook4 {
  border: 4px black solid;
}

.theabook4 h3 {
  color: white;
}

.theabook5 h3 {
  color: white;
}

.theabook5 {
  border: 4px black solid;
}


.theabook6 {
  border: 4px black solid;
}

.theabook6 h3 {
  color: white;
}

.theabook7 h3 {
  color: white;
}

.theabook7 {
  border: 4px black solid;
}


.theabook8 {
  border: 4px black solid;
}

.theabook8 h3 {
  color: white;
}

.theabook9 h3 {
  color: white;
}

.theabook9 {
  border: 4px black solid;
}


.theabook10 {
  border: 4px black solid;
}

.theabook10 h3 {
  color: white;
}

.theabook11 h3 {
  color: white;
}

.theabook11 {
  border: 4px black solid;
}


.theabook12 {
  border: 4px black solid;
}

.theabook12 h3 {
  color: white;
}

.theabook13 h3 {
  color: white;
}

.theabook13 {
  border: 4px black solid;
}


.theabook14 {
  border: 4px black solid;
}

.theabook14 h3 {
  color: white;
}

.theabook15 h3 {
  color: white;
}

.theabook15 {
  border: 4px black solid;
}


.theabook16 {
  border: 4px black solid;
}

.theabook16 h3 {
  color: white;
}

.theabook17 h3 {
  color: white;
}

.theabook17 {
  border: 4px black solid;
}


.theabook18 {
  border: 4px black solid;
}

.theabook18 h3 {
  color: white;
}

.theabook19 h3 {
  color: white;
}

.theabook19 {
  border: 4px black solid;
}


.theabook20 {
  border: 4px black solid;
}

.theabook20 h3 {
  color: white;
}

.theabook21 h3 {
  color: white;
}

.theabook21 {
  border: 4px black solid;
}


.theabook22 {
  border: 4px black solid;
}

.theabook22 h3 {
  color: white;
}

.theabook23 h3 {
  color: white;
}

.theabook23 {
  border: 4px black solid;
}


.theabook24 {
  border: 4px black solid;
}

.theabook24 h3 {
  color: white;
}

.theabook25 h3 {
  color: white;
}

.theabook25 {
  border: 4px black solid;
}


.theabook26 {
  border: 4px black solid;
}

.theabook26 h3 {
  color: white;
}

.theabook27 h3 {
  color: white;
}

.theabook27 {
  border: 4px black solid;
}


.theabook28 {
  border: 4px black solid;
}

.theabook28 h3 {
  color: white;
}

.theabook29 h3 {
  color: white;
}

.theabook29 {
  border: 4px black solid;
}


.theabook30 {
  border: 4px black solid;
}

.theabook30 h3 {
  color: white;
}

.theabook31 h3 {
  color: white;
}

.theabook31 {
  border: 4px black solid;
}


.theabook32 {
  border: 4px black solid;
}

.theabook32 h3 {
  color: white;
}

.theabook33 h3 {
  color: white;
}

.theabook33 {
  border: 4px black solid;
}


.theabook34 {
  border: 4px black solid;
}

.theabook34 h3 {
  color: white;
}

.theabook35 h3 {
  color: white;
}

.theabook35 {
  border: 4px black solid;
}


.theabook36 {
  border: 4px black solid;
}

.theabook36 h3 {
  color: white;
}

.theabook37 h3 {
  color: white;
}

.theabook37 {
  border: 4px black solid;
}


.theabook38 {
  border: 4px black solid;
}

.theabook38 h3 {
  color: white;
}

.theabook39 h3 {
  color: white;
}

.theabook39 {
  border: 4px black solid;
}


.theabook40 {
  border: 4px black solid;
}

.theabook40 h3 {
  color: white;
}


.gspdf1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf2 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf3 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf4 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf5 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf6 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf7 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf8 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf9 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf10 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf11 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf12 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf13 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf14 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf15 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf16 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf17 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf18 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf19 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf20 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf21 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf22 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf23 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.gspdf24 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf2 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf3 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf4 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf5 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf6 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf7 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf8 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf9 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.tspdf10 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.Creepellacon {
  border: 5px solid black;
}

.csbook1 h3 {
  color: white;
}

.csbook1 {
  border: 4px black solid;
}


.csbook2 {
  border: 4px black solid;
}

.csbook2 h3 {
  color: white;
}

.csbook3 h3 {
  color: white;
}

.csbook3 {
  border: 4px black solid;
}


.csbook4 {
  border: 4px black solid;
}

.csbook4 h3 {
  color: white;
}

.csbook5 h3 {
  color: white;
}

.csbook5 {
  border: 4px black solid;
}


.csbook6 {
  border: 4px black solid;
}

.csbook6 h3 {
  color: white;
}

.csbook7 h3 {
  color: white;
}

.csbook7 {
  border: 4px black solid;
}


.csbook8 {
  border: 4px black solid;
}

.csbook8 h3 {
  color: white;
}

.csbook9 h3 {
  color: white;
}

.csbook9 {
  border: 4px black solid;
}


.cspdf1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.cspdf2 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.cspdf3 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.spacemicecon {
  border: 5px solid black;
}

.smpdf1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.smpdf2 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.smpdf3 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.smbook1 h3 {
  color: white;
}

.smbook1 {
  border: 4px black solid;
}


.smbook2 {
  border: 4px black solid;
}

.smbook2 h3 {
  color: white;
}

.smbook3 h3 {
  color: white;
}

.smbook3 {
  border: 4px black solid;
}


.smbook4 {
  border: 4px black solid;
}

.smbook4 h3 {
  color: white;
}

.smbook5 h3 {
  color: white;
}

.smbook5 {
  border: 4px black solid;
}


.smbook6 {
  border: 4px black solid;
}

.smbook6 h3 {
  color: white;
}

.smbook7 h3 {
  color: white;
}

.smbook7 {
  border: 4px black solid;
}


.smbook8 {
  border: 4px black solid;
}

.smbook8 h3 {
  color: white;
}

.theabook9 h3 {
  color: white;
}

.smbook9 {
  border: 4px black solid;
}


.smbook10 {
  border: 4px black solid;
}

.smbook10 h3 {
  color: white;
}

.smbook11 h3 {
  color: white;
}

.smbook11 {
  border: 4px black solid;
}


.smbook12 {
  border: 4px black solid;
}

.smbook12 h3 {
  color: white;
}


geronimofullcon {
  border: 5px solid black;
}

.heromicecon {
  border: 5px solid black;
}

.hmbook1 h3 {
  color: white;
}

.hmbook1 {
  border: 4px black solid;
}


.hmbook2 {
  border: 4px black solid;
}

.hmbook2 h3 {
  color: white;
}

.hmbook3 h3 {
  color: white;
}

.hmbook3 {
  border: 4px black solid;
}


.hmbook4 {
  border: 4px black solid;
}

.hmbook4 h3 {
  color: white;
}

.hmbook5 h3 {
  color: white;
}

.hmbook5 {
  border: 4px black solid;
}


.hmbook6 {
  border: 4px black solid;
}

.hmbook6 h3 {
  color: white;
}

.hmbook7 h3 {
  color: white;
}

.hmbook7 {
  border: 4px black solid;
}


.hmbook8 {
  border: 4px black solid;
}

.hmbook8 h3 {
  color: white;
}

.hmbook9 h3 {
  color: white;
}

.hmbook9 {
  border: 4px black solid;
}


.hmbook10 {
  border: 4px black solid;
}

.hmbook10 h3 {
  color: white;
}

.hmbook11 h3 {
  color: white;
}

.hmbook11 {
  border: 4px black solid;
}

.hmpdf1 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.hmpdf2 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.hmpdf3 {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}


#navbar {
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

#navbar ul {
  display: flex;
  align-content: center;
  justify-content: center;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}

#navbar ul li a:hover {
  border-bottom: 3px solid #fff;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  
  top: 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  background-color: transparent;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}